.cardItem {
  display: flex;
  /* 그리드로 나눈 구역의 가운데에서 85%... */
  /* width: 90%; */
  width: 168px;
  
  /* height: 12rem; */
  height: 225px;
  border-radius: 14px;

  /* 텍스트 아래 정렬 관련 */
  align-items: flex-end;
  /* align-content: center; */

  margin-bottom: 0.2em;
  border: 1px solid lightgray;

  cursor: pointer;
  transition: transform 250ms ease-in;
}
.imgFigure {
  display: flex;
  /* 그리드로 나눈 구역의 가운데에서 85%... */
  /* width: 90%; */
  width: 168px;
  /* height: 12rem; */
  height: 225px;
  border-radius: 14px;
}



.card {
  font-family: Noto Sans KR;
  width: 138px;
  height: 72px;

  padding-top: 18px;
  color: #474747;
  font-size: 12px;
  margin-inline: 0.9375rem;
}

.content_date {
  font-family: pretendard;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 4px;
}

.container {  /*모달 종속... 어케 빼내...*/
  /* display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
	grid-gap: 0.5em; */
  margin-bottom: 8%;
  margin-left: -0.5px;
}



.content {
  font-family: Noto Sans KR;
  /* height: 2.8rem; */
  height: 72px;
  width: 138px;
  line-height: 17px;  /*줄간격*/

  margin-right: 0.5rem;
}

.contain {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;

  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
}
.like {
  font-family: pretendard;
  color: #878787;
  font-size: 12px;
  margin-left: 0.25rem;
  display: table;
}
.like_icon {
  display: table-cell;
}
.like_text {
  padding-left: 0.2rem;
  display: table-cell;
  height: 15px;
  vertical-align: middle;
}
