.section {
  display: flex;
  flex-direction: column;
  margin-top: 12px;

  /* 피드 들여쓰기 */
  margin-inline: 16px;
}
.sort_section {
  margin-top: 1%;
}
.sortBar {
  margin-top: 20px;
}

.sort {
  display: inline;
  font-size: 13px;
  text-align: right;
  margin-left: 61%;
}

/* .buttondesign {
  margin: 10px;
  background-color: #47474700;
  border: 1.5px solid #474747c4;
  border-radius: 28px;
  height: 22px;
  box-shadow: none;
} */
/* .buttondesign::after {
        color: white;
        background-color:#474747b7
    } */

/* 스크롤 버튼바 */
/* 참조 : https://blog.naver.com/PostView.naver?blogId=rwans0397&logNo=220699305909&redirect=Dlog&widgetTypeCall=true&directAccess=false */
.wrapbar {
  width: 100%;
  height: 40px;
  margin-top: 5px;
  white-space: nowrap;
  overflow-x: scroll;
  -ms-overflow-style: none;
  /* margin-top: 2%; */
}
/* 스크롤바 안보이게 하는거 : https://wooaoe.tistory.com/49 */
.wrapbar::-webkit-scrollbar {
  display: none;
}

.body {
  /* cardList의 마진과 맞춰 줄 맞추기 */
  margin-left: 4%;
}

.feed {
  font-family: Noto Sans KR;
  font-size: 24px;
  color: #474747;
  font-weight: bold;
}

.scroll {
  width: 1000px;
  height: 300px;
  white-space: nowrap;
  overflow-x: scroll;
}

.sort-flag-off {
  color: #c5c5c5;
}

.sort-flag-on {
  color: #00bee6;
}
.cardList {
  /* 그리드 정렬 */
  display: grid;
  /* 2열 정렬 */
  grid-template-columns: 50% 50%;

  grid-column-gap: 3px;
  overflow-y: scroll;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0%;
  margin-top: 0%;
}

.card {
  /* height: max-content; */
  height: 100%;
}
